body{
    background-color: bisque;
}
header{
    height: 100px;
    border: 5px solid rgb(69, 47, 1);
    border-bottom: 0;
}
h1{
    color: brown;
    text-align: left;
}
p{
    color: darkgoldenrod;
}
p::first-letter{
    font-size: 24px;
}
li{
    font-family: Verdana;
}
.mood{
    width: 200px;
    height: 100px;
}
.checkers{
    width: 88px;
    height: 31px;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ol ul li {
    background-color: beige;
    list-style-type: none;
    padding: 3px;
}
ol ul li b{
    font-size: 20px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1;
}
.flex-container *{
    height: 80px;
}
.flex-container button{
    height: 50%;
}
.main-container{
    border: 5px solid rgb(69, 47, 1);
}
.shopping-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
  }
  
.shopping-table td{
    border: 1px solid rgb(69, 47, 1);
    padding: 8px;
    font-size: 25px;
} 
.shopping-table th {
    background-color: #f5cc85;
    padding: 12px;
    text-align: left;
    border: 1px solid rgb(69, 47, 1);
    color: black;
    width: 25%;
    font-size: 30px;
}
.table-title{
    margin-left: 2.5%;
}
.amount-button{
    background: none;
    border:  none;
}
.amount-input{
    width: 5%;
}
.total-table-result{
    text-align: right;
}
.total-table-result span{
    margin-right: 20%;
}
.place-order-button{
    margin-left: 90%;
    margin-bottom: 2%;
}