body{
    background-color: bisque;
}
h1{
    color: brown;
    text-align: left;
}
p{
    color: darkgoldenrod;
}
p::first-letter{
    font-size: 24px;
}
li{
    font-family: Verdana;
}
.mood{
    width: 200px;
    height: 100px;
}
.checkers{
    width: 88px;
    height: 31px;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ol ul li {
    background-color: beige;
    list-style-type: none;
    padding: 3px;
}
ol ul li b{
    font-size: 20px;
}